:root {
	--bg: #eee;
	--primary: #333;
	--secondary: #fff;
	--spacing: 20px;
	--font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	--font-size: 16px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	color: var(--primary);
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 1.4;
	background-color: var(--bg);
}
.header,
.main,
.footer {
	padding: calc(var(--spacing) / 1.5);
}
.header {
	background-color: #333;
	position: sticky;
	top: 0;
	z-index: 9999;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	user-select: none;
}
.header__content {
	margin: 0 auto;
	max-width: 960px;
}

.search {
	-webkit-appearance: none;
	appearance: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	font-size: var(--font-size);
	width: 100%;
	color: var(--primary);
	padding: calc(var(--spacing) / 1.5);
	display: block;
	border-radius: calc(var(--spacing) / 3);
	outline: none;
	background-color: var(--secondary);
	border: none;
	text-overflow: ellipsis;
}
.search:focus {
	outline: none;
}
.count {
	font-size: 14px;
	text-align: center;
	color: var(--primary);
	opacity: 0.5;
	margin-bottom: calc(var(--spacing) * 1.75);
	user-select: none;
}

.top {
	outline: none;
	cursor: pointer;
	position: fixed;
	bottom: calc(var(--spacing) / 1.5);
	right: calc(var(--spacing) / 1.5);
	width: 50px;
	height: 50px;
	border: none;
	text-indent: -99999px;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 50%;
	-webkit-appearance: none;
	appearance: none;
	transition: all 0.25s ease-in-out;
	background: #333 url('/assets/images/chevron-up.svg') center center no-repeat;
	background-size: 50% auto;
	transform: translateY(70px) scale(1);
	opacity: 0;
	z-index: 9999;
	user-select: none;
}
.top--active {
	transform: translateY(0) scale(1);
	opacity: 1;
}
.top--active:hover {
	transform: translateY(0) scale(1.1);
}


@media only screen and (min-width: 961px) {
	.header,
	.main,
	.footer {
		padding: var(--spacing);
	}
	.main {
		gap: var(--spacing);
	}
	.front,
	.back {
		padding: calc(var(--spacing) / 1.25);
	}
	.top {
		bottom: var(--spacing);
		right: var(--spacing);
	}
}
