:root {
	--bg: #eee;
	--primary: #333;
	--secondary: #fff;
	--spacing: 20px;
	--font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	--font-size: 16px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	color: var(--primary);
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 1.4;
	background-color: var(--bg);
}
.header,
.main,
.footer {
	padding: calc(var(--spacing) / 1.5);
}

.count {
	font-size: 14px;
	text-align: center;
	color: var(--primary);
	opacity: 0.5;
	margin-bottom: calc(var(--spacing) * 1.75);
	user-select: none;
}

@media only screen and (min-width: 961px) {
	.header,
	.main,
	.footer {
		padding: var(--spacing);
	}
	.main {
		gap: var(--spacing);
	}
	.front,
	.back {
		padding: calc(var(--spacing) / 1.25);
	}
	.top {
		bottom: var(--spacing);
		right: var(--spacing);
	}
}
